table {
  width: 100%;
}
.alert  {
  position: fixed;
  top: 0;
  right: 0.5rem;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding: 2rem;
  background: #fff;
  color: #f65656;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  transition:  all 0.2s ease-in-out;
  opacity: 0;
}

.visible {
  opacity: 1;
  transform: translateY(1.25rem);
}
.dialog {
  position: relative;
  margin: 50px auto;
  width: 700px;
  background-color: black;
  height: 100px;
}

.x-button {
  height: 50px;
  width: 50px;
  background-color: #FA6900;
  border-radius: 5px;
  position: relative;
}

.x-button:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c"; /* use the hex value here... */
  font-size: 50px;
  color: #FFF;
  line-height: 100px;
  text-align: center;
}
