
#add-dish-button {
  display: flex;
  margin: 10px 10px 5px 8px;
  padding: 5px;
  justify-content: flex-start;
}
@media screen and (max-width: 480px) {
  #add-dish-button {
    justify-content: center;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#my-container {
  padding-right: 1em;
}

#content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
}

.single-dish {
  flex: 1 1 100%;
  padding: 0.5em;
  margin: auto;
  max-width: 360px;
}

.single-dish img {
  height: 250px;
  width: 100%;
  max-width: 360px;
}

@media screen and (min-width: 480px) {
  .single-dish {
    flex: 1 1 50%;
  }

}

@media screen and (min-width: 768px) {
  .single-dish {
    flex: 1 1 33.333%;
  }

}

@media screen and (min-width: 1154px) {
  .single-dish {
    flex: 1 1 25%;
    justify-content: center;
  }
  /*.single-dish img{
    max-width: 360px;
  }*/

}
/*@media only screen and (max-width: 450px) {
  .single-dish{
    max-width: 100%;
  }
}
@media (min-width: 450px) {
  .single-dish  {
    max-width: calc(50% - 10px);
  }
}
@media (min-width: 620px) {
 .single-dish {
    max-width: calc(33.33333% - 10px);
  }
}
@media (min-width: 830px) {
   .single-dish {
    max-width: calc(25% - 10px);
  }
}*/




