<h1>Add ingredient to DB</h1>
<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <app-add-dish-button></app-add-dish-button>

  </div>
  <app-image-uploader></app-image-uploader>
  <div class="col-md-12">
    <div class="row">
      <div *ngFor="let dish of dishes" class="col-md-3 mx-auto my-2">
        <div *ngIf="dish.getImg">
          <img [src]="dish.getImg" class="myImg" alt="Responsive image">
        </div>
      </div>
    </div>

    <div class="container">
      <li *ngFor="let dish of dishes">
        {{dish.name}}
        {{dish.calories}}
      </li>
    </div>
  </div>
</div>
