<div class="container">
  <label for="ingName">Ingredient name: </label>
  <input #ingName type="text" class="form-control" id="ingName" placeholder="Name...">
  <label for="ingDesc">Description: </label>
  <input #ingDesc type="text" class="form-control" id="ingDesc" placeholder="Description...">
  <label for="ingCalories">Calories: </label>
  <input #ingCalories type="number" class="form-control" id="ingCalories" placeholder="Calories...">
  <div class="custom-offset">
  <button (click)="addIngredientToDish(ingName.value,ingDesc.value,ingCalories.value)"
          class="btn btn-primary fa fa-plus"> Add ingredient to dish</button>
  </div>
</div>
