<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Eating planner</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/ingredients" class="nav-link">Ingredients</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Dishes</a>
      </li>
    </ul>
  </div>
</nav>
